/******** Stylesheet for halloween ********/
/******** THIS PAGE IS NOT RESPONSIVE *****/
@font-face {
    font-family: halloween;
    src: url('../fonts/Zombie_Holocaust.ttf');
}
body {background-color: black;
color: red;
text-shadow: 6px 6px 6px #fff; 
font-family: halloween;}

#container {background-image: url("../images/background.jpg");
            width: 1920px;
            height: 879px;
            margin: auto;
            position: relative;
        }
#h1 {font-size: 3em;
    color: #fff;
    text-shadow: 6px 6px 6px red;
    position: absolute;
    top: 20px;
    left: 300px;
}
#p1 {
    font-size: 1.5em;
    position: absolute;
    top: 340px;
    left: 505px;
}
#munecos{
    position: absolute;
    top: 375px;
    left: 560px;
    width: 100px;
    height: 160px;
    z-index: 2;
}
#fantasma{
    position: absolute;
    top: 400px;
    left: 550px;
    width: 100px;
    visibility: hidden;
    z-index: 1;
}
#p2{
    font-size: 1.5em;
    position: absolute;
    top: 200px;
    left: 100px;
  }
#arbol{
    position: absolute;
    top: 290px;
    left: 120px;
    width: 215px;
    height: 160px;
    z-index: 2;
}
  
#bat{
    position: absolute;
    top: 290px;
    left: 120px;
    width: 100px;
    visibility: hidden;
    z-index: 1;
}
#p3{
    font-size: 1.5em;
    position: absolute;
    top: 310px;
    right: 550px;
}

#witch{
position: absolute;
top: 375px;
right: 630px;
width: 100px;
visibility: hidden;
z-index: 1;
}

#door{
position: absolute;
top: 390px;
right: 670px;
width: 33px;
height: 44px;
z-index: 2;
}
#p4{
    font-size: 1.5em;
    position: absolute;
    bottom: 0px;
    left: 30px;
    text-shadow: 4px 4px 4px #fff;
}
#p5{
    font-size: 1.5em;
    position: absolute;
    top: 220px;
    left: 780px;
    text-shadow: 4px 4px 4px #fff;
}
